.app-wrapper{
  border: 1px black solid;
  
  display: grid;
  
text-decoration: none;
  
  grid-template-areas: 'h h'
  'n c';
  
  grid-template-rows: 120px 10fr;
  grid-template-columns: 20fr 60fr;
  
  max-width: 1080px;
  
  margin: 40px auto;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
 
}

.app-wrapper-content{

grid-area: c;
    background-image: url("https://besthqwallpapers.com/Uploads/1-12-2021/186258/thumb2-lamborghini-3d-logo-4k-brown-brickwall-creative-cars-brands.jpg");
    background-size: cover;
    color: white;


}

